*{
    font-family: "Didact Gothic";
}
body{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.topbar{
    background-color: rgb(255, 255, 255);
    z-index: 200000;
}
.topbar-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1400px;
}
.topbar-left{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#call{
    font-weight: 700;
    font-size: 12px;
}
.topbar-left a{
    text-decoration: none;
    color: black;
}
.topbar-left a:hover{
    color: #FFB600;
    transition: 0.3s ease 0s;
}
.topbar-left a img:hover{
    color: #FFB600;
}
.topbar-left a img{
    height: 15px;
}
.topbar-right a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 12px;
}
.topbar-right a:hover{
    color: #FFB600;
    transition: 0.3s ease 0s;
}
nav{
    top: 0;
    position: sticky;
    z-index: 2000000;
}

.nav-container{
    display: flex;
    justify-content: flex-end;
    gap: 150px;
    padding-top: 0px;
    padding-bottom: 25px;
    align-items: center;
    z-index: 1000;
    position: relative;
}
nav .nav-container .nav-left{
    background-color: rgba(67, 61, 100, 0.2);
}
nav .nav-container .nav-left .logo img{
    height: 61px;
    width: auto;
}
nav .nav-container .nav-right{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    background-color: #FFB600;
}
nav .nav-container .nav-right .Contact-info{
    font-size: 0.8rem;
    margin-right: 20px;
    h3{
        font-size: 1.0rem;
    }
}
nav .nav-container .nav-right .btn{
    background-color: #FFB600;
    display: inline;
}
nav .nav-container .nav-right .btn a{
    color: white;
    font-weight: 800;
    text-decoration: none;
    padding: 0px;
    padding-top: 10px;
}
nav .nav-container .nav-right .btn a:hover{
    background-color: black;
    color: #FFB600;
    transition: 0.3s ease 0s;
}
nav .nav-container .nav-right .btn:hover{
    background-color: black;
    transition: 0.3s ease 0s;
}
.dropdown-bar{
    background-color: #ffffff;
    top: 0;
    position: sticky;
}
.dropdown-bar .dropdown-bar-container{
    display: flex;
    align-items: center;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left{
    width: 100%;
    display: flex;
    align-items: center;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 20px 10px;
    padding-right: 299px;
    background-color: #FFB600;
    margin-bottom: 0px;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li{
    padding: 10px 30px;
    position: relative;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li #mains:hover{
    color: white;
    transition: 0.1s ease 0s;
    border-bottom: 5px solid white;

    padding-bottom: 25px;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li .dropdown-menu{
    display: none;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    border-bottom: 8px solid #FFB600;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li .dropdown-menu ul{
    display: block;
    color: black;
    background-color: white;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li .dropdown-menu ul li{
    width: 150px;
    padding: 10px;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li .dropdown-menu ul li a{
    color: black;
}

.bgimage{
    margin-top: -109px;
    z-index: -1;
}
.bgimage .image-container{
    position: relative;
    background: url(https://demo.themefisher.com/educenter-bootstrap/images/backgrounds/page-title.jpg);
    width: 100%;
    min-height: 385px;
    padding: 0px 60px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: 110vw 70vh;
    height: 650px;
}
.bgimage .image-container::before{
    content: "";
    background-color: #1a1a37;
    opacity: 0.8;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;

}
.bgimage .image-container .text-container{
    z-index: 100;
    margin: 0 290px;
}
.bgimage .image-container .text-container .heading h1{
    color: #fff;
    font-weight: 800;
    font-size: 4rem;
}
.bgimage .image-container .text-container p{
    color: white;
    opacity: 0.6;
    
}
.bgimage .image-container .text-container a{
    text-decoration: none;
    background-color: #FFB600;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
}
.bgimage .image-container .text-container a:hover{
    background-color: #fff;
    border-top: 5px solid #FFB600;
    border-bottom: 5px solid #FFB600;
    color: #FFB600;
    transition: 0.1s ease-in-out 0s;
}
.content {
    background-color: rgb(252, 252, 252);
}
.content .inner-content{
    display: flex;
    align-items: center;
    gap: 400px;
}
.content .inner-content .raisedinfo{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 120px;
}
.aboutedu .innerabout{
    max-width: 1400px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 100px 0px;
    align-items: center;
}
.aboutedu .innerabout .text h2{
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
}
.aboutedu .innerabout .text p{
    line-height: 32px;
}
.aboutedu .innerabout .text a{
    text-decoration: none;
    background-color: #fff;
    color: #FFB600;
    margin-top: 10px;
    padding: 15px 40px;
    border: 2px solid #FFB600;
}
.aboutedu .innerabout .text a:hover{
    background-color: #fff;
    border-top: 8px solid #FFB600;
    border-bottom: 8px solid #FFB600;
    color: #FFB600;
    transition: 0.1s ease-in-out 0s;
}
.aboutedu .innerabout .imag img{
    height: 350px;
}
.courses .innercourse{
    max-width: 1200px;
    margin: 0 auto;
}
#ourcourse{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    h2{
        font-weight: 800;
        font-size: 35px;
    }
    hr{
        opacity: 0.1;
        width: 65%;
    }
    a{
        text-decoration: none;
        background-color: #fff;
        color: #FFB600;
        margin-top: 10px;
        padding: 6px 30px;
        border: 2px solid #FFB600;
    }
    a:hover{
        background-color: #fff;
        border-top: 4px solid #FFB600;
        border-bottom: 4px solid #FFB600;
        color: #FFB600;
        transition: 0.1s ease-in-out 0s;
    }
}
.courses .innercourse .course-container{
    margin: 40px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
#course{
    border: 1px solid rgba(0, 0, 0, 0.082);
    padding-bottom: 40px;
}
#course img{
    width: 100%;
}
#course a{
    text-decoration: none;
    background-color: #FFB600;
    color: white;
    margin-top: 10px;
    padding: 15px 20px;
}
#course a:hover{
    background-color: #fff;
    border-top: 3px solid #FFB600;
    border-bottom:3px solid #FFB600;
    color: #FFB600;
    transition: 0.1s ease-in-out 0s;
}
#course > div{
    margin-left: 20px;
    margin-top: 20px;
}
.join{
    width: 100%;
    background-color: #FFB600;
}
.join .container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;
}
.join .container .joincontent{
    p{
        color: white;
        font-weight: 800;
    }
    h1{
        color: white;
        font-weight: 800;
        margin-bottom: 30px;
    }
    a{
        text-decoration: none;
        background-color: #fff;
        color: #FFB600;
        margin-top: 10px;
        padding: 15px 40px;
    }
    a:hover{
        background-color: #FFB600;
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        color: #fff;
        transition: 0.1s ease-in-out 0s;
    }
}
.stories{
    background: url(https://demo.themefisher.com/educenter-bootstrap/images/backgrounds/success-story.jpg);
    background-repeat: no-repeat;
    background-size:100vw 100vh;
}
.stories .innerstories{
    max-width: 1400px;
    margin: 0 auto;
}
.stories .innerstories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 310px 0px;
    a{
        text-decoration: none;
        background-color: #FFB600;
        color: #fff;
        margin-top: 10px;
        padding: 30px 30px;
        border-radius: 50%;
    }
    a:hover{
        background-color: #fff;
        border: 4px solid #FFB600;
        color: #FFB600;
        transition: 0.1s ease-in-out 0s;
    }
}
#text{
    background-color: white;
    padding: 50px 50px;
    h1{
        font-weight: 800;
        line-height: 100px;
    }
}
.event-container .container{
    max-width: 1200px;
    margin: 0 auto;
}
#upcoming{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    h2{
        font-weight: 800;
        font-size: 35px;
    }
    hr{
        opacity: 0.1;
        width: 60%;
    }
    a{
        text-decoration: none;
        background-color: #fff;
        color: #FFB600;
        margin-top: 10px;
        padding: 10px 30px;
        border: 2px solid #FFB600;
    }
    a:hover{
        background-color: #fff;
        border-top: 4px solid #FFB600;
        border-bottom: 4px solid #FFB600;
        color: #FFB600;
        transition: 0.1s ease-in-out 0s;
    }
}
.event-container .container .events{
    margin: 40px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
#event{
    border: 1px solid rgba(0, 0, 0, 0.082);
    padding-bottom: 40px;
    h1{
        font-size: 20px;
        font-weight: 700;
    }
}
#event img{
    width: 100%;
}
#event > div{
    margin-left: 20px;
    margin-top: 20px;
    h1:hover{color: #FFB600;transition: 0.3s ease 0s;cursor: pointer;}
}
#sensei_socials{
    margin-left: 20px;
    margin-top: 10px;
}
#sensei_socials a img{
    height:15px;
}
.teacher .container{
    max-width: 1200px;
    margin: 0 auto;
    h2{
        font-weight: 700;
        font-size: 40px;
    }
}
.teacher .container .sensei{
    display: flex;
    justify-content: space-between;
}
#sensei {
    img{
        height: 350px;
    }
    #innersen{
        margin-top: 20px;
        margin-left: 20px;
    }
}
#sensei:hover{
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 13px 5px rgba(0, 0, 0, 0.096);
    transition: 0.3s ease 0s;
}
.latest-news .container{
    max-width: 1200px;
    margin: 0 auto;
    h1{
        font-size: 35px;
        font-weight: 700;
        margin-top: 100px;
    }
}
.latest-news .container .all-news{
    display: flex;
    justify-content: space-between;
}
#news{
    border: 1px solid rgba(0, 0, 0, 0.082);
    padding-bottom: 40px;
}
#news img{
    width: 100%;
}
#news h2{
    font-size: 20px;
    margin: 10px 0px;
}
#news h2:hover{color: #FFB600;transition: 0.3s ease 0s;cursor: pointer;}
#news a{
    text-decoration: none;
    background-color: #FFB600;
    color: white;
    margin-top: 10px;
    padding: 15px 20px;
}
#news a:hover{
    background-color: #fff;
    border-top: 3px solid #FFB600;
    border-bottom:3px solid #FFB600;
    color: #FFB600;
    transition: 0.1s ease-in-out 0s;
}
#news > div{
    margin-left: 20px;
    margin-top: 20px;
}
#news:hover{
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 13px 5px rgba(0, 0, 0, 0.096);
    transition: 0.3s ease 0s;
}
.subscribe{
    width: 100%;
    margin-top: 200px;
    display: flex;
    .left{
        width: 40%;
        background-color: #fff;
        display: flex;
        flex-direction: column-reverse;
        .lower{
            width: 100%;
            background-color: #182B45;
            height: 150px;
        }
    }
    .content{
        width: 60%;
        background-color: #FFB600;
        padding: 48px 25px 48px 25px;
        h2{
            color: white;
            font-weight: 800;
            margin-bottom: 10px;
        }
        fieldset{
            position: relative;
            input{
                padding: 28px 420px 28px 10px;
                border: none;
            }
            button{
                border: none;
                position: absolute;
                background-color: white;
                padding: 28px 30px;
                a{
                    text-decoration: none;
                    background-color: #FFB600;
                    padding: 14px 20px;
                    color: white;
                    font-weight: 700;
                }
                a:hover{
                    background-color: #fff;
                    border-top: 3px solid #FFB600;
                    border-bottom:3px solid #FFB600;
                    color: #FFB600;
                    transition: 0.1s ease-in-out 0s;
                }
            }
        }
    }
}
footer{
    background-color: #182B45;
    .footer-container{
        
        .main-inner{
            .footer-bottom{
                max-width: 1200px;
                margin: 0 auto;
                padding-bottom: 20px;
                .bottom-container{
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    #Fsocials{
                        display: flex;
                        gap: 20px;
                        img{
                            height: 20px;
                        }
                    }
                }
            }
            .inner-container{
                max-width: 1200px;
                margin: 0 auto;
                padding-top: 120px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                ul{
                    align-items: center;
                    color: white;
                    list-style-type: none;
                    h1{
                        font-size: 20px;
                        font-weight: 700;
                    }
                    li{
                        font-size: 12px;
                        font-weight: 300;
                        color: white;
                        opacity: 0.5;
                        margin-bottom: 18px;
                    }
                    li:hover{
                        color: #FFB600;
                        transition: 0.1s ease 0s;
                        opacity: 1;
                        cursor: pointer;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1250px ){
    .dropdown-bar .dropdown-bar-container .dropdown-bar-left ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 20px 10px;
        padding-right: 299px;
        background-color: transparent;
        margin-bottom: 0px;
    }
    .dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li a{
        color: black;
        text-decoration: none;
        font-weight: 600;
        font-size: 11px;
    }
    .dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li #mains:hover{
        color: #FFB600;
        transition: 0.1s ease 0s;
        border-bottom: 3px solid #FFB600;
    
        padding-bottom: 10px;
    }
    .dropdown-bar{
        background-color: #ffffff;
        position: static;
        top:0;
    }
    .bgimage .image-container .text-container{
        margin: 0 0;
    }
}
@media screen and (max-width:600px){
    body,html{
        overflow-x: hidden;
    }
    .topbar-container {
        flex-wrap: wrap;
    }
    .content .inner-content{
        flex-wrap: wrap;
        align-items: center;
        img{
            width: 100%;
        }
        .raisedinfo{
            #info{
                div{
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }
    .aboutedu{
        .innerabout{
            flex-direction: column-reverse;
            width: 80%;
        }
        .imag{
            img{
                width: 100%;
            }
        }
    }
    .courses .innercourse .course-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .stories .innerstories{
        flex-direction: column;
        gap: 10px;
    }
    .event-container .container .events {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .teacher .container .sensei{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .latest-news .container .all-news{
        flex-direction: column;
    }
    .subscribe {
        .left {display: none;}
        .content {
            width: 100%;
            fieldset{
                button {
                    display: none;
                }
        }
    }
    }
    footer {
        .footer-container {
            .main-inner {
                .inner-container {
                    flex-wrap: wrap;
                }
            }
        }
    }
    footer {
        .footer-container {
            .main-inner {
                .footer-bottom {
                    .bottom-container {
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}